html
{
    width: 100vw;
    height: 100vh;
}

body
{
    margin: 0;

    background: #212121;
    color: #fff;

    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: center;
    align-items: stretch;
}

#gameArea
{
    width: 60vw;
    height: 100vh;
    padding: 5%;

    box-sizing: border-box;
    border: 2px solid #fff;
    border-right: 0px;
}
#canvas
{
    width: 100% auto;
    height: 100% auto;
    max-width: 100%;
    max-height: 100%;

    border: 2px solid #fff;
}

#statsArea
{
    width: 40vw;
    height: 100vh;

    padding: 5vh;

    overflow: auto;

    box-sizing: border-box;
    border: 2px solid #fff;
}

input[type="number"]
{
    background: rgba(0,0,0,0);
    border-radius: 7px;
    border: 2px solid #fff;
    padding: 7px;

    color: #fff;
}

input[type="button"], input[type="submit"]
{
    background: #212121;
    border: 0px solid;
    border-radius: 7px;
    padding: 15px;
    margin: 5px;

    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 15px;
    
    cursor: pointer;
}
input:hover, input:focus
{
    background: #fff;
    color:#000;

    outline: none;
}
